.description__text {
  font-family: 'Inter-Regular';
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  max-width: 650px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .description__text {
    width: 100%;
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .description__text {
    font-size: 18px;
  }
}
