.places__url {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  font-weight: 400;
  color: #AAAAAA;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .places__url {
    margin-top: 32px;
  }
}
