.places__image {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  max-height: 460px;
  grid-area: image;
}

@media (max-width: 1279px) {
  .places__image {
    max-height: 440px;
  }
}

@media (max-width: 1023px) {
  .places__image {
    max-height: 340px;
    max-width: 340px;
  }
}

@media (max-width: 767px) {
  .places__image {
    min-height: 320px;
    width: 320px;
    margin: 0 auto 32px auto;
  }
}
