.places__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-decoration-line: underline;
  color: white;
  padding-top: 12px;
}

.places__link:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .places__link {
    margin-bottom: 32px;
  }
}
