.places__url_link {
  font-family: 'Inter';
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-decoration-line: underline;
  color: white;
  padding-top: 12px;
}

.places__url_link:hover {
  opacity: 0.8;
}
