.cover__title {
  text-align: center;
  margin: 0;
  padding-bottom: 32px;
  font-size: 72px;
  line-height: 76px;
  max-width: 520px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 240px;
  }
}
