.cover__title {
  max-width: 500px;
  text-align: center;
  margin: 0;
  padding-bottom: 32px;
  padding-top: 254px;
  font-size: 72px;
  line-height: 76px;
}


@media (min-width: 1024px) and (max-width: 1279px) {
  .cover__title {
    padding-top: 195px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .cover__title {
    padding-top: 115px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .cover__title {
    padding-top: 33px;
    font-size: 32px;
    line-height: 35px;
    max-width: 200px;
    padding-top: 16px;
  }
}
