.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 94px;
  padding-bottom: 24px;
}

@media (max-width: 1023px) {
  .footer {
    padding-top: 88px;
  }
}

@media (max-width: 425px) {
  .footer {
    flex-direction: column;
    padding-top: 64px;
  }
}
