.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 94px;
  padding-bottom: 24px;
  margin: 0 auto;
  max-width: 1184px;
}

@media (max-width: 1279px) {
  .footer {
    max-width: calc(100% - 48px*2);
  }
}

@media (max-width: 1023px) {
  .footer {
    max-width: calc(100% - 24px*2);
    padding-top: 88px;
  }
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding-top: 64px;
    max-width: calc(100% - 16px*2);
  }
}

