.places__item {
  margin-top: 80px;
  display: grid;
  grid-template-columns: minmax(1fr, max-content) minmax(min-content, max-content);
  grid-gap: 48px 40px;
  grid-template-areas:
    "title url"
    "image text";
}

@media (max-width: 768px) {
  .places__item {
    grid-template-columns: 1fr;
    grid-gap: 50px;
    grid-template-areas:
      "title"
      "url"
      "image"
      "text";
  }
}
